html, body {
    height: 100%;
    /*background-color: black;*/
}

/*body {*/
/*    background-color: black;*/
/*}*/

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}
div.jumbotron {
    margin-bottom: 0;
}

#top-nav{
    position: sticky;
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
}
#top-nav a {
    color: black;
}

/*.jumbotron {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    background-color:black;*/
/*}*/
/*.jumbotron video {*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    top: 0;*/
/*    width:100%;*/
/*    height: 100%;*/
/*    !*  object-fit is not supported on IE  *!*/
/*    object-fit: cover;*/

/*}*/
/*.jumbotron .container {*/
/*    z-index: 2;*/
/*    position: relative;*/
/*}*/

#video-background {

    height: 50%;
    width: 50%;

}

#jumbotronContainer {
    padding-top: 0px;
    padding-bottom: 0px;
   background-color: black;
}

.ticket {
    box-shadow: 0 4px 8px 0 darkgray;
}
.ticket:hover {
    box-shadow: 0 4px 12px 0 black;
    background-color: rgb(105 15 18);
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    box-shadow: 0 4px 6px 0 lightgray;

}
.card:hover {
    background-color: antiquewhite;
    box-shadow: 0 4px 12px 0 black;
}

#movie-container {
    margin-bottom: 200px;
}

#curtains {
    background-image: url("img/seats.png");
}

#buttonContainer {
    background-color: black;
}